set  -g default-terminal "screen-256color"
set  -g base-index      0
setw -g pane-base-index 0
# We need to set default-shell before calling new-session
set  -g default-shell "{{ tmux_shell_path }}"

set -g status-keys vi
set -g mode-keys   vi

# rebind main key: {{ tmux_prefix }}
unbind C-b
set -g prefix {{ tmux_prefix }}
bind -N "Send the prefix key through to the application" \
  {{ tmux_prefix }} send-prefix

set  -g mouse             on
setw -g aggressive-resize off
setw -g clock-mode-style  12
set  -s escape-time       10
set  -g history-limit     10000

# Use system clipboard in tmux copy mode
set-window-option -g mode-keys vi
bind -T copy-mode-vi 'v' send -X begin-selection
bind -T copy-mode-vi 'y' send -X copy-selection

# Quality of life stuff
set -g allow-rename off

# Start windows and panes at 1, not 0
set -g base-index 1
setw -g pane-base-index 1

# smart pane switching with awareness of vim splits
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

unbind %
bind {{ tmux_split_horizontal }} split-window -h

unbind '"'
bind {{ tmux_split_vertical }} split-window -v

unbind r
bind r source-file {{ tmux_config_file }}

bind -r j resize-pane -D 5
bind -r k resize-pane -U 5
bind -r l resize-pane -R 5
bind -r h resize-pane -L 5

bind -r m resize-pane -Z

# Move pane between windows
bind J choose-window 'join-pane -h -s "%%"'
bind S command-prompt -p "Send pane to:" "join-pane -t :'%%'"

# Custom key bindings
{% for binding in tmux_key_bindings %}
bind {{ binding.flags | default('') }} {{ binding.key }} {{ binding.command }}
{% endfor %}

# tpm plugin
set -g @plugin 'tmux-plugins/tpm'
set-environment -g TMUX_PLUGIN_MANAGER_PATH '{{ tmux_plugin_dir }}/'

# list of tmux plugins
{% for plugin in tmux_plugins %}
set -g @plugin '{{ plugin.namespace }}/{{ plugin.name }}'
{% endfor %}

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '{{ tmux_plugin_tpm_config }}'
