set  -g default-terminal "screen-256color"
set  -g base-index      0
setw -g pane-base-index 0
# We need to set default-shell before calling new-session
set  -g default-shell "{{ tmux_shell }}"

set -g status-keys vi
set -g mode-keys   vi

# rebind main key: C-f
unbind C-b
set -g prefix C-f
bind -N "Send the prefix key through to the application" \
  C-f send-prefix

set  -g mouse             on
setw -g aggressive-resize off
setw -g clock-mode-style  12
set  -s escape-time       10
set  -g history-limit     10000

# Use system clipboard in tmux copy mode
set-window-option -g mode-keys vi
bind-key -T copy-mode-vi 'v' send -X begin-selection
bind-key -T copy-mode-vi 'y' send -X copy-selection

# Keybind to select the last command
# This only works with the nim prompt of fish
bind-key -n C-y \
    copy-mode \; \
    send-keys -X cursor-up \; \
    send-keys -X cursor-up \; \
    send-keys -X search-backward "{{ ansible_user }}@{{ ansible_hostname }}" \; \
    send-keys -X cursor-down \; \
    send-keys -X begin-selection \; \
    send-keys -X search-forward "{{ ansible_user }}@{{ ansible_hostname }}" \; \
    send-keys -X cursor-up \; \
    send-keys -X end-of-line \; \
    send-keys -X cursor-left

# Quality of life stuff
set -g allow-rename off

# Start windows and panes at 1, not 0
set -g base-index 1
setw -g pane-base-index 1

# smart pane switching with awareness of vim splits
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

unbind %
bind | split-window -h

unbind '"'
bind - split-window -v

unbind r
bind r source-file ~/.config/tmux/tmux.conf

bind -r j resize-pane -D 5
bind -r k resize-pane -U 5
bind -r l resize-pane -R 5
bind -r h resize-pane -L 5

bind -r m resize-pane -Z

# Move pane between windows
bind-key J choose-window 'join-pane -h -s "%%"'
bind-key S command-prompt -p "Send pane to:" "join-pane -t :'%%'"

# tpm plugin
set -g @plugin 'tmux-plugins/tpm'

# list of tmux plugins
set -g @plugin 'christoomey/vim-tmux-navigator'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.config/tmux/plugins/tpm/tpm'
